@font-face {
  font-family: 'CenturyGothicRegular';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansRegular';
  src: url('../fonts/NotoSans.eot');
  src: url('../fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSans.woff') format('woff'),
  url('../fonts/NotoSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansBold';
  src: url('../fonts/-Bold.eot');
  src: url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/NotoSans-Bold.woff') format('woff'),
  url('../fonts/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
